
/* RESET */
body {
	margin:0; 
	padding:0;
	width: 100%;
	height:100% !important;
}

table { 
	border-collapse:collapse !important;
}

/* CLIENT SPECIFIC STYLES */
#outlook a {
	padding:0;
} 

.ReadMsgBody{
	width:100%;
} 
.ExternalClass {
	width:100%;
	line-height: 100%;
	p,
	span,
	font,
	td,
	div {
		line-height: 100%;
	}
}

body, table, td {
  -webkit-text-size-adjust: 100%; 
  -ms-text-size-adjust:100%;
}