$font-stack: "Helvetica Neue", sans-serif;
$font-stack-serif: Georgia, Times, "Times New Roman", serif;  
$brand-1: #4a2c88;
$brand-2: #ce0c88;
$brand-3: #00a5ba;
$brand-4: #f84239;
$brand-5: #d7d0e4;
$gray: #b1b3b3;
$gray-lighter: #d0d0ce;
$black: #000;
$white: #fff;
$bg-color: $white;
$text-color: $black;