@import "reset";
@import "variables";

/* EMBEDDED TEMPLATE STYLES */
body {
    background-color: #f2f2f3;
    font-family: $font-stack;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: left;
}

a,
a:visited {
    color: $brand-1;
    font-weight: normal;
    text-decoration: underline;
    display: inline-block !important;
    &.top-link {
        font-weight: bold;
        color: $black !important;
        text-decoration: none;
        white-space: nowrap;
    }
    &.bottom-link {
        font-weight: bold;
        color: $black !important;
        text-decoration: none;
        white-space: nowrap;
        width: 100%;
    }
}

h1,
h2,
h3 {
    font-family: $font-stack-serif;
    font-weight: lighter;
    text-align: center;
    margin: 0 0 20px 0;
    line-height: 110%;
}

#title {
    td {
        h1 {
            margin-top: 20px;
        }
    }
}

h3 {
    font-size: 1.5em;
}

img {
    display: block;
    margin: 0;
    border: 0;
    padding: 0;
    &.sized {
        width: auto !important;
    }
}

#template {
    img {
        width: 100%;
        height: auto;
    }
}

p {
    margin: 0 0 20px;
}

blockquote {
    margin: 0 0 10px;
    border-left: 5px solid #f5f5f5;
    padding: 5px 10px;
    font-style: italic;
}
.newsletter {
    h2 {
        font-family: $font-stack;
        font-weight: bold;
        text-align: left;
    }
    .centered {
        h2 {
            text-align: center;
        }
    }
}

/* RESPONSIVE MEDIA QUERIES */
@media (min-width: 20px) {
    table[class="container"] {
        width: 100%;
    }
    table[class="table-left"] {
        width: 100%;
    }
    table[class="table-right"] {
        width: 100%;
    }
}

@media (min-width: 480px) {
    .col-2 {
        table[class="table-left"] {
            width: 50%;
        }
        table[class="table-right"] {
            width: 50%;
        }
    }
    #bottom-links {
        td {
            a {
                width: auto !important;
                padding: 0 16px;
            }
        }
    }
    img#alt-logo {
        width: auto;
    }
}

@media (min-width: 600px) {
    table[class="container"] {
        width: 600px;
    }
}
