@import "reset";
@import "variables";

table {
    border-spacing: 0;
}

.container-spacing {
    margin: 0;
    padding: 36px 26px 16px 26px;
}
.linear-gradient {
    background-image: linear-gradient(to right, #ce0c88, #463c8f);
    background-color: $brand-1;
}
.color-band-grad {
    td {
        height: 10px;
        background-color: $brand-1;
        @extend .linear-gradient;
    }
}

.color-band {
    td {
        height: 10px;
        background-color: $brand-1;
    }
}

#template {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
}

#preheader {
    td {
        padding: 15px 10px;
        font-style: italic;
        color: #606060;
        font-size: 13px;
    }

    td:last-child {
        text-align: right;
    }
}
.text-only {
    #title {
        td {
            color: $black;
            background-color: $white;
            background-image: none;
            padding: 0;
        }
    }
}
.promo,
.newsletter {
    #title {
        td {
            color: $white;
            background-color: $brand-1;
            //@extend .linear-gradient;
            padding: 20px 0;
        }
    }
}
#social {
    td {
        background: $brand-1;
        //@extend .linear-gradient;
        text-align: center;
        padding: 16px 0;
        a {
            margin: 0 26px;
            img {
                display: inline-block !important;
                height: 40px !important;
                width: 40px !important;
            }
        }
    }
}
.header-cta {
    padding: 26px;
}
#destination-container {
    td {
        background-color: $brand-1;
        color: $white;
        &.destination-image,
        &.destination-text {
            width: 100%;
        }
        &.destination-text {
            padding: 10px 26px 16px;
        }
    }
}

center#content {
    background-color: #fff;
    box-shadow: 2px 2px 3px rgba(150, 150, 150, 0.2);
}

table.col-2 {
    td {
        background-color: $brand-1;
        color: $white;
    }
    table.table-right {
        td {
            text-align: center;
            padding: 16px;
            h1,
            h2,
            h3 {
                margin-top: 20px !important;
            }
        }
    }
}

#destination-container {
    td {
        h1,
        h2,
        h3 {
            margin-top: 20px !important;
        }
    }
}

#content-container {
    td {
        background-color: #fff;
        @extend .container-spacing;
    }
    td.gray {
        background-color: #f8f9fa;
    }
    td.lavender {
        background-color: $brand-5;
    }
    td.centered {
        text-align: center;
    }
    td.super-bg {
        background: url("https://bitbucket.org/amg-dev/ha-html-email/raw/a24e48876c4c903cd0e28cb490c993bfdd7e0996/build/images/ha-email-silver-body-5.png")
            no-repeat bottom center;
    }
}

#bottom-links {
    td {
        padding: 26px 0;
        text-align: center;
        background-color: #fff;
    }
}

#footer {
    td {
        font-family: $font-stack;
        color: #606060;
        font-size: 11px;
        line-height: 150%;
        text-align: center;
        padding: 30px 10px 20px;
    }

    p {
        display: block;
        margin-bottom: 15px;
    }
}

.col-3 {
    .table-left,
    .table-right,
    .table-middle {
        tbody,
        tr,
        td {
            display: block;
            width: 100%;
            text-align: center;
        }
    }
}
