{% extends "ha-text-only.nunjucks" %}

{% block header_image %}
<img src="https://bitbucket.org/amg-dev/ha-html-email/raw/c374bf12cea33cc0664a8128ea0c3e2a6967183a/build/images/ha-email-silver-header-3.png" alt="Hawaiian Airlines" height="112" width="600" id="logo">
{% endblock %}

{% block email_content %}

{% endblock %}

{% block bottom_links %}
<a href="https://newsroom.hawaiianairlines.com/" class="bottom-link">Newsroom</a>&nbsp;&nbsp;<a href="https://www.hawaiianairlines.com/destinations" class="bottom-link">About Us</a>&nbsp;&nbsp;<a href="https://www.hawaiianairlines.com/island-guide" class="bottom-link">Travel Guide</a>
{% endblock %}

{% block footer %}
<p><strong>{{ data.company_name }}</strong><br />{{ data.company_address }}</p>
<p>This e-mail has been sent to you at Recipient.Email. You have received this message because you registered with Hawaiian Airlines. To stop receiving these messages, please <a href="mailto:#">Unsubscribe</a> by sending the linked email.</p>
<p><em>Copyright &copy; {{ data.year }}, All rights reserved.</em></p>
{% endblock %}